{% extends "base.html" %}
{% block content %}
<h2 style="text-align:center; margin-top: 20px;">Iniciar sesión</h2>

<form method="post" style="max-width:400px; margin:auto; padding:20px; border:1px solid #ccc; border-radius:10px;">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="width:100%; padding:10px; background:#4CAF50; color:white; border:none; border-radius:5px;">
        Entrar
    </button>
</form>

<p style="text-align:center; margin-top:10px;">
    ¿No tienes cuenta? <a href="/register/">Regístrate</a>
</p>

{% endblock %}
